
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-lotus:before { content: '\e801'; } /* '' */
.icon-paper-plane:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-pulse-lotus:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
